.name-matchs{
    background-color: #122027;
    min-height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    color: white;
}

.name-matchs h2{
    margin-left: 3%;
}

.name-matchs_list{
    width: 100%;
    display: block;
    align-items: center;
    justify-content: space-between;
    background-color: #2161b4;
}
.name-matchs_list ul{    
    margin-right: 14%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.matchs{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

.match-flag{
    width: 60px;
    height: 40px;
}