.App {
    text-align: center;
}
   

.App-header {
    background-color: #122027;
    min-height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    color: white;

}
.App-header h1{
    margin-left: 3%;
}


.App-main{
    display: flex;
    justify-content: center;
}
.container-main{
    width: 50%;
    background-color: #ffffff;
}
.team {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
}
   
.team img {
    width: 60px;
    height: 40px;
    object-fit: fill;
}
