.App {
    text-align: center;
   }
   

   .App-header {
    background-color: #282c34;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
   }
   
   .App-main{
    display: flex;
    justify-content: center;
   }
   .container-main{
    width: 50%;
    background-color: #a1a1a1;
   }
   .team {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
   }
   
   .team img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: fill;
   }
